body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    width: 100%;
    background: pink;
    border: 1px solid red;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}